EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyB8bfZc0qY01TyGvVZHAj6ngRTYWBx9nw4
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=todaygrace-juan.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=todaygrace-juan
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=todaygrace-juan.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=512958124167
EXPO_PUBLIC_FIREBASE_APP_ID=1:512958124167:web:4653829dd41cd2c33a6822
EXPO_PUBLIC_KAKAO_REST_API_KEY=your_kakao_rest_api_key
EXPO_PUBLIC_KAKAO_REDIRECT_BRIDGE_URI=https://todaygrace-juan.web.app/kakao-bridge.html
EXPO_PUBLIC_REVENUECAT_APPLE_API_KEY=your_apple_public_sdk_key
EXPO_PUBLIC_REVENUECAT_GOOGLE_API_KEY=your_google_public_sdk_key
EXPO_PUBLIC_REVENUECAT_ENTITLEMENT_ID=your_growth_entitlement_id
