EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAlTF1lTcgjoHbjBtAwY_ZL_An0wUqEEac
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=life-changing-alarm-juan.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=life-changing-alarm-juan
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=life-changing-alarm-juan.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=579056316496
EXPO_PUBLIC_FIREBASE_APP_ID=1:579056316496:web:08444ccab45d5299f2a155
EXPO_PUBLIC_KAKAO_REST_API_KEY=your_kakao_rest_api_key
EXPO_PUBLIC_KAKAO_REDIRECT_BRIDGE_URI=https://life-changing-alarm-juan.web.app/kakao-bridge.html
EXPO_PUBLIC_REVENUECAT_APPLE_API_KEY=your_apple_public_sdk_key
EXPO_PUBLIC_REVENUECAT_GOOGLE_API_KEY=your_google_public_sdk_key
EXPO_PUBLIC_REVENUECAT_ENTITLEMENT_ID=your_growth_entitlement_id
